*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    background: rgb(0, 0, 0,0.8);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: beige;
    position:sticky;
    top:0px;
    z-index: 99;
}

.logo{
    font-weight: 600;
    font-size: 25px;
    color: rgb(196, 199, 45);
}

.logo Link font{
    color: rgb(227, 213, 212);
}

.menu-icon{
    display: none;
}

.menu-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    /* margin-right: 50px; */
}

.menu-list li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    /* border: 2px solid blue; */
    padding: 5px 10px;
    margin-left: 20px;
}


.menu-list li:last-child a{
    font-weight: 300;
    padding: 5px 10px;
    background-color: cornflowerblue;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
    border-radius: 2px;
}

.menu-list li a:hover,
.menu-list li a.active{
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    transition: all 0.5s ease-in-out;
}



@media screen and (max-width:800px){
    .logo{
        font-size: 20px;
    }

    .menu-list li a{
        font-size: 14px;
        margin-left: 10px;
    }


    .fas{
        cursor: pointer;
    }



}

@media screen and (max-width:600px){

    .menu-icon{
        display: block;
    }

    .menu-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px solid red;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        padding: 20px;
        padding-left: 0px;
        right: 0;
        top: 64px;
        translate: all 1s ease-in-out;
    }

    .menu-list li{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .menu-list li:last-child{
        margin-bottom: 0px;
    }

    .menu-list li a, .menu-list li:last-child a{
        width: 100px;
        display: block;
        margin: auto;
    }

    
    .menu-icon .fa-times{
        transform:rotate(360deg);
        transition: all 0.5s ease-in-out;
    }

    .menu-icon .fa-bars{
        transform:rotate(180deg);
        transition: all 0.5s ease-in-out;
    }

    .menu-list.close{
        right: -100%;
        translate: all 1 ease-in-out;
    }
}

